.room_setting {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
}

.room_setting__body {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  height: 90vh;
  width: 70vw;
  background-color: #0f0f0f;
  box-shadow: -1px 4px 20px -6px #929aa7;
}

.room_setting__header {
  display: flex;
  height: 13vh;
  padding: 30px;
  border-bottom: 1px solid #393e46;

  color: #d1d1d1;
}

.room_setting__header > .MuiAvatar-root {
  height: 80px;
  width: 80px;
}

.room_setting__headerRight {
  display: flex;
  flex-direction: column;
  min-width: 5vw;
  margin-left: 20px;
  flex: 1;
}
.room_setting__headerRight > .MuiTextField-root {
  width: fit-content;
  margin-top: 10px;
}

.room_setting__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.room_setting__header > .MuiButton-root {
  height: 10vh;
  text-transform: inherit;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: #d1d1d1;
}
.room_setting__header > .MuiButton-root:hover {
  background-color: #2f2f2f;
}
.room_setting__buttons > .MuiButton-root {
  padding: 10px;
  font-weight: 600;
  color: #d1d1d1;
}
.room_setting__buttons > .MuiButton-root:hover {
  background-color: #2f2f2f;
}
.MuiDialogActions-root {
  background-color: #0f0f0f;
}
.MuiDialogContent-root {
  background-color: #0f0f0f;
  border-bottom: 1px solid #393e46;
}
.MuiDialogContent-root {
  color: #d1d1d1;
  background-color: #d1d1d1;
}

.room__members {
  height: 48vh;
  box-shadow: -1px 1px 9px black;
  border-radius: 40px;
  margin: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-self: center;
  overflow: auto;
  color: #d1d1d1;
}

.room__member {
  display: flex;
  margin: 20px;
}

.room__member > h3 {
  margin-left: 30px;
  margin-top: 6px;
}

.hidden_scroll {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden_scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden_scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.room__membersHeader {
  margin-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid #393e46;
}
