.setting {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  background-image: url(https://fsa.zobj.net/crop.php?r=Nv3m3CA7y7ZOcKE0npozVcP-Eumxc0GvKfhjpGb2JTErykrrL5itLzh6IO7HdHYoDbrW9T1K5JjIXRRISxWLtjYWhoSRWt2E9VCzZYT5Tawh-PXooXuqVLliLF8dmlmfoP9JlwdtzAspwJEI32JGMVkgfz5BYOqH73WXsc9_8Nubip3SJFwboL2MC1U);
}

.setting__body {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  height: 50vh;
  min-width: 40vw;
  box-shadow: -1px 4px 20px -6px rgb(0, 0, 0, 0.75);
}

.setting__header {
  display: flex;
  height: 13vh;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.setting__header > .MuiAvatar-root {
  height: 80px;
  width: 80px;
}

.setting__headerRight {
  display: flex;
  flex-direction: column;
  min-width: 5vw;
  margin-left: 20px;
  flex: 1;
}

.setting__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.setting__header > .MuiButton-root {
  height: 10vh;
  text-transform: inherit;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.setting__buttons > .MuiButton-root {
  padding: 10px;
  font-weight: 600;
}
