.setting {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #121212;
}

.setting__body {
  display: flex;
  flex-direction: column;
  background-color: #0f0f0f;
  height: 50vh;
  min-width: 40vw;
  box-shadow: -1px 4px 20px -6px #929aa7;
}

.setting__header {
  display: flex;
  height: 15vh;
  padding: 30px;
  border-bottom: 1px solid #393e46;
}

.setting__header > .MuiAvatar-root {
  height: 80px;
  width: 80px;
  margin-top: 13px;
}

.setting__headerRight {
  display: flex;
  flex-direction: column;
  min-width: 5vw;
  margin-left: 20px;
  flex: 1;
}
.setting__headerRight > .MuiTextField-root {
  margin-bottom: 14px;
  flex: 1;
}
.setting__buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.setting__header > .MuiButton-root {
  height: 10vh;
  text-transform: inherit;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  color: #bababa;
  top: 20px;
}

.setting__header > .MuiButton-root:hover {
  background-color: #2f2f2f;
}

.setting__buttons > .MuiButton-root {
  padding: 10px;
  font-weight: 600;
  color: #bababa;
}
.setting__buttons > .MuiButton-root:hover {
  background-color: #2f2f2f;
}
.image_form {
  display: flex;
  flex-direction: column;
}
.image_form > .MuiButton-root {
  margin: 15px;
  background-color: #0a8d48;
  color: white;
}
.image_form > .MuiButton-root:hover {
  background-color: #055229;
}
.image_form > .MuiTextField-root {
  margin: 15px 15px 0 15px;
}
